# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
backend/.env
*.env.local

# Logs
logs
*.log
npm-debug.log*

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
dist/
build/
